@model webapiclientserver.Models.userinfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

</head>
<body>

    <div style="background-color:azure;font-size:x-large;border-radius:10px;padding:10px;border-spacing:15px">
        Name :  <input id="name" name="name" />    <span id="s1" style="font-size:small;color:red"></span> <br /><br />
        Email : <input id="email" name="email" />  <span id="s2" style="font-size:small;color:red"></span> <br /><br />
        Phone :<input id="phone" name="phone" />   <span id="s3" style="font-size:small;color:red"></span><br /><br />
        Age : <input id="age" name="age" />        <span id="s4" style="font-size:small;color:red"></span><br /><br />
        DOB : <input id="dob" name="dob" />        <span id="s5" style="font-size:small;color:red"></span>
        <br /><br />

        <input type="button" id="btn1" value="save" onclick="f1()" /><br /><br />

        @*we can also perform validations using Data Annotation*@

        <table id="table1" border="1">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>phone</th>
                <th>age</th>
                <th>dob</th>
            </tr>
        </table>

    </div>



    <script>

        $(function () {
            $("#table1").show();
            f2();
               $("#name").blur(name),
                $("#email").blur(email),
                $("#phone").blur(phone),
                $("#age").blur(age),
                $("#dob").blur(dob)

        });



        function f1() {
            $.ajax({
                url: "http://localhost:50734/api/userinfo",
                type: "post",
                data: {
                    "name": $("#name").val(),
                    "email": $("#email").val(),
                    "phone": $("#phone").val(),
                    "age": $("#age").val(),
                    "dob": $("#dob").val()
                },

                success: function (r) {
                    alert("Data Saved .");
                },
                error: function () {
                    alert("Server Error");
                }

            });
        }

        function f2() {
            $.ajax({
                url: "http://localhost:50734/api/userinfo", // url can be vary Test Using Postman
                type: "get",
                success: function (r) {
                    $.each(r, function (i, p) {
                        $("#table1").append("<tr><td>" + p.name + "</td><td> " + p.email + "</td><td>" + p.phone + "</td><td>" + p.age + "</td><td>" + p.dob + "</td></tr>");
                    });
                    $("#table1").show();
                },

                error: function () {
                    alert("Server Error ");
                }
            });
        }



        function name() {
            if ($("#name").val() == "")
                $("#s1").html("Enter Name");
        }
        function email() {

            if ($("#email").val() == "")
                $("#s2").html("Enter Email");
            //regular exp using meta class validation for email performed checkout metaclass

        }
        function age() {

            if ($("#age").val() == "")
                $("#s4").html("Enter Age");
        }
        function phone() {
            if ($("#phone").val() == "")
                $("#s3").html("Enter Valid Mobile Number .");
            else if ($("#phone").val() != 10) {
                $("#s3").html("Enter 10 Digit Mobile Number .");
            }
        }
        function dob() {
            if ($("#dob").val() == "")
                $("#s5").html("Enter DOB ");
            // Regular Expression using meta class validation for dob performed checkout metaclass      
        }

    </script>

</body>
</html>
